.map {
  position: relative;
  z-index: 1;
  margin-top: 96px;
  height: calc(100vh - 96px);
}

#map {
  width: 100%;
  height: 100%;
}

.add__btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* Responsive */

@media screen and (max-width: 767px) {
  .map {
    margin-top: 71px;
  }
}