{% extends 'base.html' %}

{% block content %}

<section class='main'>
    <div class='container'>
        <img src='../static/img/image_header.jpg'>
        <h2 class='h2_main shadow'>Что такое софт скиллы и зачем они нужны?</h2>
        <p class='p_main'>
            Для начала разберемся, что такое Soft-skills. Soft skills — это умения необходимые нам в повседневной жизни, вне зависимости от хобби и работы.  Soft skills помогают в обучении, повседневной коммуникации, при решении креативных задач. Эти умения полезны в любой деятельности, развивать их нужно как можно раньше.
            Если говорить простыми словами, soft skills — это вспомогательные навыки, которые помогают нам быть эффективнее. Работодатели смотрят не только на ваши технические способности но и на soft-skills.
        </p>
        <p class='p_main_2'>В 2012 году в Университете Восточного Кентукки провели исследование, в котором попытались выявить самые <u class='shadow'>важные</u> навыки общения с точки зрения работодателей. Студенты насобирали 517 навыков, а в итоге их список сократили до десяти самых часто встречающихся в ответах. Итак, что же это?
        </p>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Навыки коммуникации:</b> устная и письменная речь, навык презентации, аудирование (восприятие информации на слух).
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg"class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Вежливость:</b> манеры, деловой этикет и любезность (условные «пожалуйста» и «спасибо»).
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg"class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Гибкость:</b> способность к адаптации, готовность и приспосабливаемость к изменениям, обучаемость на протяжении всей жизни.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Честность:</b> этичность, мораль, личные ценности, личные представления о добре и зле.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Навыки межличностного общения:</b> чувство юмора, дружелюбие, заботливость и чуткость, умение располагать к себе, самоконтроль, общительность.

            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Позитивный настрой:</b> оптимизм, энтузиазм, уверенность в себе.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Профессионализм:</b> опрятность в одежде, уравновешенность.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Ответственность:</b> надежность, предсказуемость, исполнительность, находчивость, самодисциплина и здравый смысл.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Навыки работы в команде:</b> умение сотрудничать и ладить с другими, оказывать поддержку.
            </p>
        </div>
        <div class='div_main'>
            <img src="../static/img/icon_Acrylic.svg" class='img_main'>
            <p class='p_main_2 p_margin'>
                <b>Трудовая этика:</b> трудолюбие, лояльность, инициатива, целеустремленность, соблюдение рабочего режима.
            </p>
        </div>
        <p class="p_main">Для разработки данных качеств зайдите в меню нашего сайта и выберите подходящий раздел.</p>
    </div>
</section>

{% endblock %}